---
layout: default
title: Jobs
permalink: /jobs/
include-in-navbar: yes
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% assign currYear = site.time | date: "%Y" %}	
    {% for post in site.posts %}
      {% assign postYear = post.date | date: "%Y" %}
      {% if post.categories contains 'jobs' and postYear == currYear %}
         <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
  
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
	  
	       {{ post.excerpt }}

        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
