---
layout: default
title: Meetings
permalink: /meetings/
include-in-navbar: yes
---

<div class="home">

  <h1 class="page-heading">Meetings</h1>

  <p>There are no meetings over the summer. Check back in the fall for updated meeting information.</p>

  <br>
  <h2>Some archived meetings notes:</h2>
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains "meetings" %}
        <li style="padding-top: 15px;">
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
  
          <h2 style="margin-bottom: 0px;">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
	  
	       {{ post.excerpt }}

        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
