---
layout: default
title: Projects
permalink: /projects/
include-in-navbar: yes
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains 'projects' %}
        <li style="padding-top: 15px;">
          <span class="project-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
  
          <h2 style="margin-bottom: 0px;">
            <a class="project-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
	  
	       {{ post.excerpt }}

        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
