---
layout: default
title: Puzzlers
include-in-navbar: yes
puzzlers: 
  - file: challenges/2022-08-28/whatami.png
    date: 2022-08-28
    category: linux
    description: Can you help me read this file?
    difficulty: Medium
  - file: challenges/2018-10-02/Steganography/easy.png
    date: 2018-10-02
    category: Steganography
    difficulty: Easy
  - file: challenges/2018-10-02/Steganography/medium.png
    date: 2018-10-02
    category: Steganography
    difficulty: Medium
  - file: challenges/2019-10-06/Steganography/easy.wav
    date: 2018-10-09
    category: Steganography
    difficulty: easyish
  - file: challenges/2019-10-06/Steganography/hard.wav
    date: 2018-10-09
    category: Steganography
    difficulty: Hard
  - file: challenges/2018-10-16/crypto/pubkey.pem
    date: 2018-10-16
    category: crypto
    description: Crypto
    difficulty: Medium-Hard
  - file: challenges/2018-10-16/crypto/flag.enc
    date: 2018-10-16
    category: crypto
    description: Crypto
    difficulty: Medium-Hard
  - file: challenges/2019-02-05/Glenda/Glenda.png
    date: 2019-02-05
    category: Steganography
    difficulty: Easy
  - file: challenges/2019-02-05/crackme/crackme.zip
    date: 2019-02-05
    category: cracking
    description: Password Cracking
    difficulty: Easy-Medium
  - file: challenges/2019-02-05/mixtape/mixtape.zip
    date: 2019-02-05
    category: other
    description: Cipher/Scavenger Hunt/Encoding/General Nonsense
    difficulty: Harder than it should be
  - file: challenges/2018-10-24/encoding/encode1.txt
    date: 2018-10-24
    category: encoding
    description: Encoding1
    difficulty: Unknown
  - file: challenges/2018-10-24/encoding/encode2.txt
    date: 2018-10-24
    category: encoding
    description: Encoding2
    difficulty: Easy

---

<div class="home">

  <h1 class="page-heading">Puzzlers</h1>
  <p>The flag for each puzzler is in the format <tt>iasg{flag_data_here}</tt>.
  <br/>
  Flag data is numbers and letters separated by underscores.
  </p>

  <hr/>
  <h2>Linux Skills</h2>
  <ul>
    {% for puzzler in page.puzzlers %}
    {% if puzzler.category == "linux" %}
      <li>
      <a href="{{ puzzler.file }}" download>{{ puzzler.date }}</a> {{ puzzler.description }}
          ({{ puzzler.difficulty }})
          {% if puzzler.spoilers %}
          <span style="font-weight: bold;">SPOILERS:</span>
          <a href="{{ puzzler.date | prepend: 'spoilers/' | append: '.html'}}">
              Writeup</a> 
              {% if puzzler.tarball %}
              | <a target="_blank"
                  href="{{ puzzler.date | prepend: 'spoilers/' | append: '.tar.gz'}}">
                  Supporting Files</a>
              {% endif %}
          {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Cracking</h2>
  <ul>
    {% for puzzler in page.puzzlers %}
    {% if puzzler.category == "cracking" %}
      <li>
      <a href="{{ puzzler.file }}" download>{{ puzzler.date }}</a> {{ puzzler.description }}
          ({{ puzzler.difficulty }})
          {% if puzzler.spoilers %}
          <span style="font-weight: bold;">SPOILERS:</span>
          <a href="{{ puzzler.date | prepend: 'spoilers/' | append: '.html'}}">
              Writeup</a> 
              {% if puzzler.tarball %}
              | <a target="_blank"
                  href="{{ puzzler.date | prepend: 'spoilers/' | append: '.tar.gz'}}">
                  Supporting Files</a>
              {% endif %}
          {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>


  <h2>Steganography</h2>
  <ul>
    {% for puzzler in page.puzzlers %}
    {% if puzzler.category == "Steganography" %}
      <li>
      <a href="{{ puzzler.file }}" download>{{ puzzler.date }}</a> {{ puzzler.category }}
          ({{ puzzler.difficulty }})
          {% if puzzler.spoilers %}
          <span style="font-weight: bold;">SPOILERS:</span>
          <a href="{{ puzzler.date | prepend: 'spoilers/' | append: '.html'}}">
              Writeup</a> 
              {% if puzzler.tarball %}
              | <a target="_blank"
                  href="{{ puzzler.date | prepend: 'spoilers/' | append: '.tar.gz'}}">
                  Supporting Files</a>
              {% endif %}
          {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Encoding</h2>
  <ul>
    {% for puzzler in page.puzzlers %}
    {% if puzzler.category == "encoding" %}
      <li>
      <a href="{{ puzzler.file }}" download>{{ puzzler.date }}</a> {{ puzzler.description }}
          ({{ puzzler.difficulty }})
          {% if puzzler.spoilers %}
          <span style="font-weight: bold;">SPOILERS:</span>
          <a href="{{ puzzler.date | prepend: 'spoilers/' | append: '.html'}}">
              Writeup</a> 
              {% if puzzler.tarball %}
              | <a target="_blank"
                  href="{{ puzzler.date | prepend: 'spoilers/' | append: '.tar.gz'}}">
                  Supporting Files</a>
              {% endif %}
          {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Crypto</h2>
  <ul>
    {% for puzzler in page.puzzlers %}
    {% if puzzler.category == "crypto" %}
      <li>
      <a href="{{ puzzler.file }}" download>{{ puzzler.date }}</a> {{ puzzler.description }}
          ({{ puzzler.difficulty }})
          {% if puzzler.spoilers %}
          <span style="font-weight: bold;">SPOILERS:</span>
          <a href="{{ puzzler.date | prepend: 'spoilers/' | append: '.html'}}">
              Writeup</a> 
              {% if puzzler.tarball %}
              | <a target="_blank"
                  href="{{ puzzler.date | prepend: 'spoilers/' | append: '.tar.gz'}}">
                  Supporting Files</a>
              {% endif %}
          {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Other</h2>
  <ul>
    {% for puzzler in page.puzzlers %}
    {% if puzzler.category == "other" %}
      <li>
      <a href="{{ puzzler.file }}" download>{{ puzzler.date }}</a> {{ puzzler.description }}
          ({{ puzzler.difficulty }})
          {% if puzzler.spoilers %}
          <span style="font-weight: bold;">SPOILERS:</span>
          <a href="{{ puzzler.date | prepend: 'spoilers/' | append: '.html'}}">
              Writeup</a> 
              {% if puzzler.tarball %}
              | <a target="_blank"
                  href="{{ puzzler.date | prepend: 'spoilers/' | append: '.tar.gz'}}">
                  Supporting Files</a>
              {% endif %}
          {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
