---
layout: default
title: Puzzlers
include-in-navbar: yes
puzzlers:
  - file: thejoyofstego.jpg
    date: 2017-9-26
    category: Steganography
    difficulty: Easy
  - file: track01.mp3
    date: 2017-10-3
    category: Steganography
    difficulty: Easy
  - file: Puzzle3.wav
    date: 2017-10-10
    category: Steganography
    difficulty: Medium
  - file: encode1.txt
    date: 2017-10-17
    category: Encodings
    difficulty: Medium
  - file: crypto1.txt
    date: 2017-10-24
    category: Cryptography
    difficulty: Easy-Medium
    spoilers: yes
  - file: stallman.png
    date: 2018-2-6
    category: Steganography
    difficulty: Easy-Medium
---

<div class="home">

  <h1 class="page-heading">Puzzlers</h1>
  <p>The flag for each puzzler is in the format <tt>iasg{flag_data_here}</tt>.
  <br/>
  Flag data is numbers and letters separated by underscores.
  </p>

  <hr/>
  Date, category, and difficulty (relative to others in category).
  <ul>
    {% for puzzler in page.puzzlers %}
    <li>
    <a href="{{ puzzler.file }}">{{ puzzler.date }}</a> {{ puzzler.category }}
        ({{ puzzler.difficulty }})
        {% if puzzler.spoilers %}
        <span style="font-weight: bold;">SPOILERS:</span>
        <a href="{{ puzzler.date | prepend: 'spoilers/' | append: '.html'}}">
            Writeup</a> 
            {% if puzzler.tarball %}
             | <a target="_blank"
                href="{{ puzzler.date | prepend: 'spoilers/' | append: '.tar.gz'}}">
                Supporting Files</a>
            {% endif %}
        {% endif %}
    </li>
    {% endfor %}
  </ul>

</div>
